<div class="container">
  <div class="login-card">
    <mat-card class="card">

      <mat-card-header>

        <mat-card-title style="margin-top: 20px;">Play Chess Online</mat-card-title>
        <mat-card-subtitle>Learn to play, compete with others, play with friends.</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>
      <form class="example-form">
          <mat-form-field class ="example-full-width" appearance="legacy">
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]='username' name="username" placeholder="Email">
          </mat-form-field>

        <mat-form-field class ="example-full-width" appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='password' name="password" placeholder="Password" >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button [disabled]="loading" class="login-button" (click)="login() ">Login</button>
        <mat-card-subtitle >
          Don't have account
          <button mat-button routerLink="/register" style="background-color:#7C2828; color: white;font-weight: bold; border: none; cursor: pointer;">Sign up</button>
        </mat-card-subtitle>
      </mat-card-actions>

      </mat-card>
  </div>
</div>
