<mat-toolbar class="chess-toolbar">
  <mat-toolbar-row class="chess-toolbar">
    <h1>Opponent: John</h1>
    <button mat-button class="home-button" routerLink="/">Quit</button>
  </mat-toolbar-row>
</mat-toolbar>
<!--<object data="QueenBlack.svg" width="80" height="80"> </object>-->
<div class="wrapper">
  <div>
    <h1>Chat</h1>
  </div>
  <div>
    <div class="chessBoardCss">
<!--      <div id="img" class="movable">-->
<!--        <object id="rook" data="../../assets/BlackRook.svg" style="margin-left: 0px;margin-top: 0px "> </object>-->
<!--      </div>-->
      <div class="whiteBox">
        <!-- Rook -->
        <object data="../../assets/BlackRook.svg" style="margin-left: 0px;margin-top: 0px "> </object>
      </div>
      <div id="BlackKnight1" class="movable">
        <object id="rook" data="../../assets/KnightBlack.svg" style="margin-left: 0px;margin-top: 0px "> </object>
      </div>
      <div class="blackBox">
        <!--        Knight -->
<!--        <object  data="../../assets/KnightBlack.svg" style="position:relative;width:50px;height:50px;margin-left: -50px; z-index: 5 !important;"> </object>-->
      </div>
      <div class="whiteBox">
        <!--        Bishop -->
        <object data="../../assets/BishopBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- King -->
        <object data="../../assets/KingBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Queen -->
        <object data="../../assets/QueenBlack.svg" style="width:50px;height:50px;margin:0px 0px;"> </object>
      </div>
      <div class="blackBox">
<!--        Bishop-->
        <object data="../../assets/BishopBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
<!--        Knight -->
        <object data="../../assets/KnightBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Rook -->
        <object data="../../assets/BlackRook.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>


      <div id="BlackPawn1" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
<!--        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>-->
      </div>

      <div id="BlackPawn2" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div id="BlackPawn3" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div id="BlackPawn4" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div id="BlackPawn5" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div id="BlackPawn6" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div id="BlackPawn7" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div id="BlackPawn8" class="movable">
        <object data="../../assets/PawnBlack.svg" style="margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnBlack.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>

      <div class="whiteBox"> </div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>


      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>

      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>


      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>
      <div class="blackBox"></div>
      <div class="whiteBox"></div>

      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!-- Pawn -->
        <object data="../../assets/PawnWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>


      <div class="blackBox">
        <!-- Rook -->
        <object data="../../assets/RookWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>

      </div>
      <div class="whiteBox">
        <!--        Knight -->
        <object data="../../assets/KnightWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!--        Bishop -->
        <object data="../../assets/BishopWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- King -->
        <object data="../../assets/KingWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">

        <!-- Queen -->
        <object data="../../assets/QueenWhite.svg" style="width:50px;height:50px;margin:0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!--        Bishop-->
        <object data="../../assets/BishopWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="blackBox">
        <!--        Knight -->
        <object data="../../assets/RookWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
      <div class="whiteBox">
        <!-- Rook -->
        <object data="../../assets/RookWhite.svg" style="width:50px;height:50px;margin: 0px 0px;"> </object>
      </div>
    </div>

  </div>
  <div>
    <p id="countdown">{{minutes}}: {{seconds}}</p>
  </div>
</div>

<!--            </mat-grid-tile>
          <mat-grid-tile>-->


