.button{
    width: 35%;
    height: 25%;
    background-color: #484848;
    color: white;
    font-size:200%;
}
.title {
    display: flex;
    justify-content: center;
  }
.home{
    color: white;
    background-color: #7C2828;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}
